/* ------------------ miradio ----------- */
@supports(-webkit-appearance: none) or (-moz-appearance: none) {
  .miradio input[type="radio"] {
    top: 2px!important;
    --active: #000000;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, .3);
    --border: #BBC1E1;
    --border-hover: #000000;
    --background: #fff;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 15px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background .3s, border-color .3s, box-shadow .2s;
  }
    .miradio input[type="radio"]:after {
      content: '';
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
    }
    .miradio input[type="radio"]:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: .3s;
      --d-t: .6s;
      --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }
    .miradio input[type="radio"]:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: .9;
	}
    .miradio input[type="radio"]:disabled:checked {
        --b: var(--disabled-inner);
        --bc: var(--border);
      }
    .miradio input[type="radio"]:disabled + label {
        cursor: not-allowed;
      }
    
    .miradio input[type="radio"]:hover:not(:checked) {
          --bc: var(--border-hover);
    }
	
	.miradio input[type="radio"]:hover:not(:disabled) {
          --bc: var(--border-hover);
    }
	
    .miradio input[type="radio"]:focus {
      box-shadow: 0 0 0 var(--focus);
    }
    .miradio input[type="radio"]:not(.switch) {
      width: 15px;
	}
    .miradio input[type="radio"]:not(.switch):after {
        opacity: var(--o, 0);
      }
    .miradio input[type="radio"]:not(.switch):checked {
        --o: 1;
      }
	  
    .miradio input[type="radio"] + label {
      font-size: 14px;
      line-height: 21px;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      margin-left: 4px;
    }
  .miradio input[type="radio"] {
    border-radius: 50%;
  }
    .miradio input[type="radio"]:after {
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background: var(--active-inner);
      opacity: 0;
      transform: scale(var(--s, .7));
    }
    .miradio input[type="radio"]:checked {
      --s: .5;
    }

}

.mobile .miradio {
    position: relative !important;
    top: 0px !important;
    left: 0 !important;
    margin: 0px 0px 10px 10px;
    float:left !important;
}

.mobile div#panel1 {
    width: 60% !important;
    margin-left: 20% !important;
    border: 0px !important;
}

.mobile div#panel2 {
    width: 60% !important;
    margin-left: 20% !important;
    border: 0px !important;
}

.mobile div#panel3 {
    width: 60% !important;
    margin-left: 20% !important;
    border: 0px !important;
}

.mobile div#panel4 {
    width: 60% !important;
    margin-left: 20% !important;
    border: 0px !important;
}

.mobile div#panel5 {
    width: 60% !important;
    margin-left: 20% !important;
    border: 0px !important;
}

.mobile div#panel6 {
    width: 60% !important;
    margin-left: 20% !important;
    border: 0px !important;
}




/*==================Center Logo Mobile==================*/
.mobile .chatFormContent>.twImage {
    position: relative!important;
    float: left;
    left: auto!important;
    top: auto!important;
    right: 0px!important;
    bottom: 16px!important;
    margin-left: 58px;
    max-width: calc(100% - 30px);
}

.mobile .twButton {
    position: relative!important;
    float: left;
    display: block;
    left: auto!important;
    top: auto!important;
    right: auto!important;
    bottom: auto!important;
    margin-left: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
}


/*==================Fix Radio Buttons==================*/
.mobile .twPanel>div {
    float: left;
    width: 100%!important;
    position: relative!important;
    left: auto!important;
    top: auto!important;
    right: auto!important;
    bottom: auto!important;
    display: flex;
    min-height: 41px!important;
}

/*==================Drop-Down Height==================*/

div#preSurvey select {
   width: 325px!important;   
   height: 34px!important;
   font-size: 18px!important;

}

/*==================Placeholder Color Change==================*/

::placeholder {
  color: #333333;
}





/* ADA */

.chatEventText label a {
    color: #C14015 !important;
}

.mobile .chatFormContent * {
     font-size-adjust: unset !important;
}


.mobile .chatFormContent>.twImage {
    position: relative !important;
    float: left;
    left: auto !important;
    top: auto !important;
    right: 0px !important;
    bottom: 16px !important;
    margin-left: 61px;
    max-width: calc(100% - 30px);
}

.mobile .twLabel, .mobile .twCombobox, .mobile .twCombobox-ro, .mobile .twTextinput, .mobile .twoptiongroup {
    position: relative !important;
    float: left;
    width: calc(100% - 30px) !important;
    height: auto !important;
    min-height: 24px !important;
    display: block;
    clear: both;
    left: auto !important;
    top: auto !important;
    right: auto !important;
    bottom: auto !important;
    margin-left: 15px;
    display: flow;
    flex-direction: column;
    white-space: normal !important;
}

.mobile .twButton {
    position: relative !important;
    float: left;
    display: block;
    left: auto !important;
    top: auto !important;
    right: auto !important;
    bottom: auto !important;
    margin-left: 135px;
    margin-top: 20px;
    margin-bottom: 20px;
}


div#preSurvey select {
    width: 360px !important;
    height: 27px !important;
    font-size: 18px !important;
}